.footer {
    display:flex;
    justify-content: space-between;
    background-color: #83520d;
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 180%
}

.footer ul {
    flex: 1;
    margin-right: 20px;
    list-style: none;
    margin-top: 2%;
}
.footer ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer ul li span {
    margin-left: 10px;
    color: bisque;
}

.footer .titulo {
    font-weight: bold;
    margin-bottom: 10px;
    color: bisque;
}

.footer .titulo::after {
    margin-right: 5px;
}

