.container {
    background-image: url("../../../public/imagens/logo-cardapio1.jpg");
    display: flex;
    align-items: center;
    height: 100vh; /* Ajuste de acordo com suas necessidades */
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajuste de acordo com suas necessidades */
    margin: auto;
    background-color: rgb(223, 196, 223);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.resumo {
    list-style-type: none;
    padding: 0;
    text-align: center ;
    }

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
}

