
.produto-card{
    width: 300px;
    height: 480px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    flex: 0 1 270px;
    background-color: #e4cbcb;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.produto-card:hover {
    outline: 1px solid var(--blue);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.produto-img {
    width: 100%;
    height: 60%;
    display: block;
    border-radius: 4px;
}

.produto-info{
    padding: 5px;
    text-align: center;
}

.produto-descricao {
    font-size: 20px;
    color: rgb(20, 0, 204);
}

.produto-preco {
    color: #f39315;
    font-size: 20px;
    font-weight: bold;
}

.produto-estoque {                                                                                                          
    color: #888;
    font-weight: bold;
}

.produto-botao-carrinho {
    background-color: #0c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 62.7%;
  }
  
  .produto-botao-carrinho:hover {
    background-color: #096;
  }

.produto-botao-comprar {
    background-color: #f39315;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .produto-botao-comprar:hover {
    background-color: #e88200;
  }



