
.cabecalho { 
    background-color: #83520d;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: 0.20em;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo img {
    width: 9.5em;
    margin-top: 10px;
}


.menu-lista {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #83520d;
}

.item-menu {
    display: inline-block;
}

.item-menu a {
    display: inline-block;
    padding: 1.86em 1.42em;
    color: white;
}

.barra-de-busca {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    width: 300px;
}

.barra-de-busca input {
    border: none;
    width: 80%;
    outline: none;
    font-size: 14px;
    padding: 5px;
}