.cabecalho { 
    background-color: #83520d;
    height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.20em;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo img {
    width: 5.5em;
    margin-top: 10px;
}

.menu-lista {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.item-menu {
    display: inline-block;
    margin: 0 30px; 
    margin-top: 12px;
}

.link-menu {
    display: inline-block;
    padding: 1.86em 1.42em;
    color: white;
    text-decoration: none;
}
/* Estilos para telas com largura até 768px */
@media (max-width: 768px) {
    .logo img {
        width: 4em;
    }

    .item-menu {
        margin: 0 15px;
    }

    .link-menu {
        padding: 1em 1em;
    }
}

/* Estilos para telas com largura até 480px */
@media (max-width: 480px) {
    .logo img {
        width: 3em;
    }

    .item-menu {
        margin: 0 10px;
    }

    .link-menu {
        padding: 0.5em 0.5em;
    }
}