
.carrinho-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.carrinho-imagem {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}
.carrinho-nome {
    font-weight: bold;
}

.carrinho-info {
    display: flex;
    gap: 18em;
    justify-content:start ;
}
.carrinho-quantity {
    display: flex;
    align-items: center;
}

.carrinho-quantity input[type="number"] {
    width: 35px; 
    margin-left: 10px; 
    height: 35px;
}
.botao-remover{
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    height: 100%;
    transition: .2s all;
}

.total-comprar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.total-comprar h2{
    margin: 0;
    color: blue;
    background-color: #fff;
}

.total-comprar button{
    background-color: #f39315;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .total-comprar button:hover {
    background-color: #e29939;
  }


